.all-coins {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 40px auto;
  align-items: center;

  .main-coin {
    display: flex;
    width: 50%;
  }
}

.coin-list-link {
  text-decoration: none;
}

.coin {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.crypto-icon {
  width: 100px;

  img {
    width: 100%;
    height: auto;
  }
}
