$grey: #67899c;
$green: #addc91;
$blue: #62b5e5;

.coins-container {
  background-color: lightgrey;
  height: 390px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.all-coins {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  align-items: center;

  a {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    background: rgba($color: white, $alpha: 0.6);
    border-radius: 5px;
  }

  .main-coin {
    display: flex;
    width: 50%;
    // margin-bottom: 40px;
  }
}

.coin-list-link {
  text-decoration: none;
}

.coin {
  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    width: 100%;
  }

  .crypto-info {
    text-align: center;
    padding: 5px 3px;

    h3 {
      color: $grey;
    }

    h4 {
      color: black;
    }
  }

  .crypto-icon {
    padding: 10px 10px;

    img {
      width: 40px;
      height: 65px;
    }
  }
}
